@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --textColor: #404756;
  --textColorDark: #23272f;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --primary: #392467;
  --contactBg: #fff;
  --cta: #392467;
  --ctaText: #fff;
  --formText: #fff;
  --btnMode: #392467;
  --contact: #392467;
  --contactText: #fff;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
  --novel-highlight-default: #ffffff;
  --novel-highlight-purple: #f6f3f8;
  --novel-highlight-red: #fdebeb;
  --novel-highlight-yellow: #fbf4a2;
  --novel-highlight-blue: #c1ecf9;
  --novel-highlight-green: #acf79f;
  --novel-highlight-orange: #faebdd;
  --novel-highlight-pink: #faf1f5;
  --novel-highlight-gray: #f1f1ef;
}

.light {
  --bg: #fff;
  --textColor: #404756;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --primary: #392467;
  --contactBg: #fff;
  --cta: #392467;
  --ctaText: #fff;
  --formText: #fff;
  --contact: #392467;
  --contactText: #fff;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --primary: #fff;
  --contactBg: #1f273a;
  --cta: #fff;
  --ctaText: #392467;
  --formText: #0f172a;
  --btnMode: #1f273a;
  --contact: #1f273a;
  --contactText: #ddd;

  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
  --novel-highlight-default: #000000;
  --novel-highlight-purple: #3f2c4b;
  --novel-highlight-red: #5c1a1a;
  --novel-highlight-yellow: #5c4b1a;
  --novel-highlight-blue: #1a3d5c;
  --novel-highlight-green: #1a5c20;
  --novel-highlight-orange: #5c3a1a;
  --novel-highlight-pink: #5c1a3a;
  --novel-highlight-gray: #3a3a3a;
}

body {
  @media screen and (max-width: 768px) {
    height: 100vh;
    width: 100%;
  }
}

.progressbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--primary);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;
}

.container {
  width: 100%;
  background-color: var(--bg);
  color: var(--textColor);
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: var(--textColor);
  background-color: var(--bg);

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  li {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 18px;
    margin-top: 10px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  h3 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    color: var(--textColor);
  }

  pre {
    width: 100% !important;
    padding: 10px;
    background-color: var(--contactBg);
    color: var(--softTextColor);
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 15px;
    border-radius: 8px;
    margin: 0 auto;
    overflow: auto;
  }
}

@media screen and (max-width: 1536px) {
  .container {
    max-width: 100%;
  }
  .wrapper {
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%;
  }

  .wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .wrapper {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .wrapper {
    max-width: 700px;
    padding-left: 0;
    padding-right: 0;
  }

  .contents {
    width: 100%;
    margin: 0 auto;

    img {
      height: 100%;
      border-radius: 8px;
      object-fit: contain;
    }

    h3 {
      font-size: 20px;
    }

    li {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      margin-bottom: 18px;
    }

    pre {
      width: 100% !important;
      padding: 10px;
      background-color: var(--contactBg);
      color: var(--softTextColor);
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
      font-size: 13px;
      border-radius: 8px;
      margin: 0 auto;
      overflow: auto;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      margin-bottom: 18px;
      color: var(--TextColor);
      text-align: justify;
    }
  }
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 24px !important;
}

// body .w-md-editor-text-pre > code {
//   padding: 10px !important;
//   background-color: var(--contactBg) !important;
//   color: var(--softTextColor) !important;
//   word-break: break-all !important;
//   word-wrap: break-word !important;
//   white-space: pre-wrap !important;
//   border-radius: 8px !important;
//   margin: 0 auto !important;
//   overflow: auto !important;
// }

body .w-md-editor-textArea {
  border: none !important;
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 100%;
  }
  .wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
