.container {
  @apply h-full w-full;
}

.previews {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
}

.title {
  @apply text-6xl font-bold text-textColor mb-5 w-full;
}

.previews h1 {
  @apply text-5xl font-bold text-textColor;
}

.previews h2 {
  @apply text-4xl font-bold text-textColor;
}

.previews h3 {
  @apply text-3xl font-bold text-textColor;
}

.previews p {
  @apply text-lg text-textColor;
}

.image {
  position: relative;
  max-width: 80%;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
  margin: 40px auto;
}

.previews img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
}
